*{
    margin:0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
}
.box{
    position: relative;
    width: 50%;
    height: 100vh;
    overflow: hidden;
}
.box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}
 .box:nth-child(2) img{
    filter: grayscale(200) contrast(3);
    
}
 /* .box:nth-child(3) img{
    filter: grayscale(5) contrast(5) brightness(1);
    mix-blend-mode: hard-light; 
}   */